{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Amin Crockerys</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>



<section class="container-fluid myheader">
    <div class="row align-items-center">
        <div class="col-md-12">
            <p style="float: left;">amincrockerys@gmail.com</p>



            <a class="btn btn-primary" href="/" role="button">Go To Main Page</a>
        </div>
    </div>
</section>



<section style="margin-top: 35px" class="products container">
    <div class="row">
        <div class="col-md-12">

            {% for dps in articles %}

                <div class="bboxx">
                        <div class="cards"  style="background-image: url('{{ dps.img.url }}')">

                        </div>

                        <div class="bodys">
                            <h6 style="padding-top: 10px">{{dps.name}}</h6>
                            <p>{{ dps.res }} TAKA</p>
                            <button type="button" class="btn btn-primary">Details</button>
                        </div>
                </div>

            {% endfor %}

        </div>
    </div>
</section>






<section class="container-fluid">

    <div style="height: 30px; background-color: rgba(150,54,148,0.86);margin-top: 10px" class="row align-items-center">

        <div class="col-md-12">
        </div>
    </div>
</section>



<section class="foots container-fluid">

    <div class="row">
        <div class="col-md-3">



        </div>
        <div class="col-md-6">

            <h3>আমিন ক্রোকারিজ</h3>
            <h6>ডাক্তার পট্টী, ঝালকাঠি</h6>
            <h6>মোবাঃ ০১৭২৮২৫৩৪০০</h6>

        </div>
        <div class="col-md-3">



        </div>

    </div>

</section>



<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


</body>
</html>












