{% extends 'component/base.html'%}
{% load static %}


{% block content %}

<section class="container main">
    <div class="row ">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="wrapper">
                <div class="formContent">

                    <form class="forms" action="{% url 'forgetPassword'%}" method="post">
                        {% csrf_token %}

                        <input type="email" name="email" class="form-control mt-3" placeholder="Email" required>

                        <button type="submit" class="btn btn-primary mt-3">Get Recovery Code</button>

                    </form>


                </div>
            </div>

        </div>


        <div class="col-md-2">

        </div>

    </div>
</section>

{% endblock %}
