{% extends 'component/base_profile.html'%}
{% load static %}

{% block details %}
<div class="col-md-9">
    <div class="card ">
        <div class="card-body">
            {% if profile.image.url != NULL %}
            <img class="profile_pic rounded-circle " src="{{ profile.image.url }}">
            {% else %}
            <img class="profile_pic rounded-circle "
                 src="{% static 'images/default.jpg' %}">
            {% endif %}
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{profile.name}}
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{profile.user.email}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{profile.user.username}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Birthdate</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{profile.birthdate}}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Joined</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                    {{profile.registered_at}}
                </div>
            </div>
            <hr>
            <a class="btn btn-outline-danger" href="{% url 'updateProfile' %}"
               role="button">EDIT PROFILE</a>
        </div>
    </div>


</div>
{% endblock %}









