
.categorylist{
    border-radius: 10px;
}
.nav-link{
    color: #0e295b;
}

.nav-link:hover{
    color: white;
}

.nav-item:hover{
    color: white;
    background-color: orangered;
    border-radius: 5px;
}

.banner{
    width: 95%;
}