.footer-logo {
    height: 50px;
}

.main-footer {
}

.footer-wrapper {
    background-color: rgb(6, 9, 66);
    color: #ffffff;
}

.down-footer {
    height: 30px;
    margin-left: auto;
}

.place{
}