.logo-nav{
    height: 50px;
}

.categorylist {
    border-radius: 10px;
}

.nav-link {
    color: #0e295b;
    font-weight: 400;
}

.nav-link:hover {
    color: white;
}

.nav-item:hover {
    color: white;
    background-color: #f67c01;
    border-radius: 5px;
}

.banner {
    width: 95%;
}


.search-logo {
    height: 50px;
    padding: 5px;
}

.searchdiv {
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.searchbtn{
    background-color: #f67c01;
}
.searchbanner{
    height: 100px;
}

.sorryimage{
    height: 300px;
}