{% extends 'component/base.html' %}
{% load static %}

{% block hero %}
{% endblock %}


{% block content %}
<div class="container mt-2">
    <div class="card">
        <div class="card-body">

            <div class="row">



                <div class="col-md-4">
                    <img class="details-img img-fluid" src="{{ product.img.url }}">
                </div>

                <div class="col-md-6">
                    <h3 class="mt-3">{{ product.name }}</h3>
                    <h2> ৳ {{ product.unit_price}}</h2>
                    <h5> Available : {{ product.stock_quantity}} QTY</h5>

                    <p class="mt-3">{{ product.description}}</p>


                </div>
                <div class="col-md-2 mt-3">
                    <a href="{% url 'addToCart' product.id %}" class="btn details-btn"><i class="bi bi-bag-plus"></i>
                        Add to Cart</a>
                    <a href="{% url 'addToWishList' product.id %}" class="btn details-btn"><i class="bi bi-heart"></i>
                        Add to Fav</a>

                </div>


            </div>
        </div>
    </div>
</div>


{% endblock %}









