{% extends 'component/base.html'%}
{% load static %}


{% block content %}

<section class="container main">
    <div class="row ">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="wrapper" >
                <div class="formContent">
                    <div class="my-2">
                        {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <h6> {{message}} </h6>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                    </div>

                    <form class="forms" action="register" method="post">
                        {% csrf_token %}
                        <input type="text" name="username" class="form-control my-3" placeholder="Username" required>

                        <input type="email" name="email" class="form-control my-3" placeholder="Email" required>

                        <input type="password" name="pass1" class="form-control my-3" placeholder="Password" required>

                        <input type="password" name="pass2" class="form-control my-3" placeholder="Confirm Password"
                               required>

                        <button type="submit" class="btn btn-primary my-3">Create Account
                        </button>

                    </form>

                </div>
            </div>

        </div>


        <div class="col-md-2">

        </div>

    </div>
</section>

{% endblock %}







